.idea
.idea/
programming-method/.ipynb_checkpoints/
programming-method/.ipynb_checkpoints
.ipynb_checkpoints/
.ipynb_checkpoints
cool-code/cpp/socket-client/build/
cool-code/cpp/socket-server/build/

